* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: coolvetica;
}

.navbar--container {
  padding: 1.67rem;
  padding-bottom: 12px;
}

.navbar--content {
  display: flex;
  justify-content: space-between;
  background-color: #f1efef;
  padding: 15px;
  border-radius: 16.5px;
  align-items: center;
}

.menu--nav ul {
  display: flex;
  gap: 17px;
  list-style: none;
}

.menu--nav a {
  text-decoration: none;
  color: black;
}

.menu--nav a:focus {
  color: #7d7c7c;
}

.logo--nav img {
  width: 76px;
}

.icon--button {
  display: flex;
  gap: 13px;
}

.icon--button a {
  text-decoration: none;
}

.icon--button button {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  filter: drop-shadow(-1px 9px 8px #bababa);
  color: #191717;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.icon--button button:hover {
  color: #7d7c7c;
  transform: scale(1.1);
}

@media only screen and (max-width: 820px) {
  .menu--nav {
    display: none;
  }
}

/* banner */

#homepage {
  padding: 1.67rem;
  padding-top: 12px;
}

.main--container {
  background-color: #f1efef;
  padding: 3rem;
  border-radius: 16.5px;
  display: flex;
  justify-content: space-between;
  padding: 8rem;
}

.main--text {
  color: #2b2828;
  width: 38rem;
  height: 340px;

  padding: 2rem;

  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.main--text h1 {
  font-size: 54px;
}

.main--text p {
  font-size: 23px;
}

.button--action-main button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 13.4px;
  padding-left: 20.4px;
  padding-right: 20.4px;
  font-size: 23px;
  border-radius: 50px;
  border: #191717 2px solid;
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: #fff;
}

.button--action-main button:hover {
  gap: 1.64rem;
}

.button--action-main a {
  text-decoration: none;
}

.img--container {
  width: 400px;

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img--container img {
  width: 500px;
}

@media only screen and (max-width: 820px) {
  .main--container {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .main--text {
    width: 320px;
    padding: 1.4rem;
  }

  .main--text h1 {
    font-size: 32px;
  }

  .main--text p {
    font-size: 17px;
  }

  .button--action-main button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 12.4px;
    padding-left: 20.4px;
    padding-right: 20.4px;
    font-size: 17px;
    border-radius: 50px;
    border: #191717 2px solid;
    outline: none;
    transition: 0.2s ease-in-out;
    background-color: #fff;
  }

  .button--action-main button:hover {
    gap: 1.64rem;
  }

  .img--container {
    height: 24rem;
  }

  .img--container img {
    width: 400px;
  }
}
